n8n/workflows/book-appointment.json
{
  "name": "Book Appointment",
  "nodes": [
    {
      "parameters": {
        "path": "book",
        "options": {}
      },
      "id": "webhook-book",
      "name": "Webhook - Book Appointment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "book-appointment",
      "description": "Receives appointment booking requests from backend API"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming booking data\nconst data = $input.item.json.body;\nconst errors = [];\n\n// Required fields validation\nif (!data.name || typeof data.name !== 'string' || data.name.trim() === '') {\n  errors.push('Name is required and must be a non-empty string');\n}\n\nif (!data.email || typeof data.email !== 'string') {\n  errors.push('Email is required');\n} else {\n  // Basic email validation\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRegex.test(data.email)) {\n    errors.push('Email must be in valid format');\n  }\n}\n\nif (!data.date || typeof data.date !== 'string') {\n  errors.push('Date is required');\n} else {\n  // Date format validation (YYYY-MM-DD)\n  const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n  if (!dateRegex.test(data.date)) {\n    errors.push('Date must be in YYYY-MM-DD format');\n  } else {\n    const appointmentDate = new Date(data.date);\n    const today = new Date();\n    today.setHours(0, 0, 0, 0);\n    if (appointmentDate < today) {\n      errors.push('Date cannot be in the past');\n    }\n  }\n}\n\nif (!data.time || typeof data.time !== 'string') {\n  errors.push('Time is required');\n} else {\n  // Time format validation (HH:MM)\n  const timeRegex = /^([0-1][0-9]|2[0-3]):[0-5][0-9]$/;\n  if (!timeRegex.test(data.time)) {\n    errors.push('Time must be in HH:MM format (24-hour)');\n  }\n}\n\nif (!data.reason || typeof data.reason !== 'string' || data.reason.trim() === '') {\n  errors.push('Reason is required and must be a non-empty string');\n}\n\n// Return validation result\nif (errors.length > 0) {\n  return {\n    json: {\n      valid: false,\n      errors: errors,\n      originalData: data\n    }\n  };\n}\n\n// Normalize data\nreturn {\n  json: {\n    valid: true,\n    data: {\n      name: data.name.trim(),\n      email: data.email.toLowerCase().trim(),\n      date: data.date,\n      time: data.time,\n      reason: data.reason.trim()\n    },\n    requestId: $execution.id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "validate-booking",
      "name": "Validate Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "description": "Validates incoming booking data (name, email, date, time, reason)"
    },
    {
      "parameters": {
        "jsCode": "// Log booking request for debugging\nconst item = $input.item.json;\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  requestId: item.requestId || $execution.id,\n  type: 'booking_request',\n  valid: item.valid,\n  data: item.data || item.originalData,\n  errors: item.errors || null\n};\n\n// Log to console (visible in n8n execution logs)\nconsole.log('Booking Request Log:', JSON.stringify(logEntry, null, 2));\n\n// Return data for next node\nreturn item;"
      },
      "id": "log-booking",
      "name": "Log Booking Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "description": "Logs booking request with timestamp and request ID for debugging"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "description": "Routes workflow based on validation result"
    },
    {
      "parameters": {
        "jsCode": "// Placeholder for Google Calendar integration\n// TODO: Replace with actual Google Calendar API call\nconst bookingData = $input.item.json.data;\n\n// Simulate Google Calendar event creation\nconst calendarEvent = {\n  summary: `Appointment: ${bookingData.reason}`,\n  description: `Appointment with ${bookingData.name} (${bookingData.email})`,\n  start: {\n    dateTime: `${bookingData.date}T${bookingData.time}:00`,\n    timeZone: 'UTC'\n  },\n  end: {\n    dateTime: `${bookingData.date}T${bookingData.time}:00`,\n    timeZone: 'UTC'\n  },\n  attendees: [\n    { email: bookingData.email }\n  ]\n};\n\nconsole.log('Google Calendar Event (Stub):', JSON.stringify(calendarEvent, null, 2));\n\nreturn {\n  json: {\n    success: true,\n    message: 'Appointment booking processed successfully',\n    calendarEvent: calendarEvent,\n    bookingData: bookingData,\n    requestId: $input.item.json.requestId\n  }\n};"
      },
      "id": "google-calendar-stub",
      "name": "Google Calendar Stub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "description": "Placeholder for Google Calendar integration - to be replaced with actual API call"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "description": "Sends success response back to backend API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Validation Error\", \"details\": $json.errors, \"message\": \"Invalid booking data provided\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "description": "Sends validation error response back to backend API"
    }
  ],
  "connections": {
    "Webhook - Book Appointment": {
      "main": [
        [
          {
            "node": "Validate Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Booking Data": {
      "main": [
        [
          {
            "node": "Log Booking Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Booking Request": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Google Calendar Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Stub": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-14T20:00:00.000Z",
      "updatedAt": "2026-01-14T20:00:00.000Z",
      "id": "appointment-booking",
      "name": "appointment-booking"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T20:00:00.000Z",
  "versionId": "1"
}
